<!-- /*
    *created by deepak panwar
    *contact no:9999190591
*/ -->
<div class="row container-outer">
    <div class="todo-container">
        <div *ngFor="let todo of listOfToDo;let i=index" class="row">
            <div class="col-xs-8">
                <div class="card clickable" [ngClass]="{strike:todo.completed}">
                    <div class="card-header font-light text-capital">
                        {{todo.title}}
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="checkbox">
                    <clr-checkbox (click)="update(i)" name="termsCheckbox" [(ngModel)]="listOfToDo[i].completed">

                    </clr-checkbox>
                </div>
            </div>
            <div class="col-xs-2">
                <a (click)="delete(i)" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>


</div>
<div class="row">
    <div class="col-xs-4">
        Add new todo: <input type="text" placeholder="Enter Todo" required [(ngModel)]="newtodo">
    </div>
    <div class="col-xs-6">
        <a (click)="addToDo()" class="btn btn-primary">Add todo</a>
    </div>
</div>