/* 
 *created by deepak panwar
 *contact no:9999190591
 */

.card {
    box-shadow: 0px 2px 4px 0px rgba(26, 51, 91, 0.14), 0px 3px 4px 0px rgba(26, 51, 91, 0.1), 0px 1px 5px 0px rgba(26, 51, 91, 0.15);
    &:hover {
        box-shadow: 0px 8px 4px 2px rgba(26, 51, 91, 0.14), 0px 5px 4px 5px rgba(26, 51, 91, 0.1), 0px 6px 5px 0px rgba(26, 51, 91, 0.15);
    }
    &.clickable:hover {
        border: none!important;
    }
}

.user-initials {
    margin: 0 calc(50% - 30px);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #CBD2DA;
    text-align: center;
    & .initials {
        text-align: center;
        vertical-align: middle;
        line-height: 60px;
        font-weight: bold;
    }
}

.margin-10 {
    margin: 10p 0;
}

.margin-5 {
    margin: 5px 0;
}

.font-bold {
    font-weight: bold;
}

.font-light {
    font-weight: lighter;
}

.font-24 {
    font-size: 24px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
    line-height: 16px;
}

.font-12 {
    font-size: 12px;
    line-height: 12px;
}

.center-align {
    text-align: center;
}

.banner {
    background: #0065AB;
    font-weight: bold;
    color: white;
}