<clr-main-container>
    <clr-header style="background: #0d3d89;">
        <div class="branding">
            <a href="#" class="nav-link">
                <span class="title">Deepak Panwar's ToDo app</span>
            </a>
        </div>
        <div class="header-nav" [clr-nav-level]="1">
            <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active"><span class="nav-text">Users</span></a>
        </div>
        <div class="header-actions">
        </div>
    </clr-header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</clr-main-container>