/* 
 *created by deepak panwar
 *contact no:9999190591
 */

.container-outer {
    padding: 2vh 0 0 calc(50% - 300px);
    // padding-left: calc(50% - 300px);
    & .todo-container {
        width: 600px;
        height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden;
        border: 1px solid black;
        // background: black;
    }
}

.card {
    margin: 0px!important;
}

.strike {
    position: relative;
}

.strike::after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 100%;
    height: 1px;
    content: '\a0';
    background-color: black;
}

.text-capital {
    text-transform: capitalize;
}

.margin-10 {
    margin: 10p 0;
}

.margin-5 {
    margin: 5px 0;
}

.font-bold {
    font-weight: bold;
}

.font-light {
    font-weight: 400;
}

.font-24 {
    font-size: 24px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
    line-height: 16px;
}

.font-12 {
    font-size: 12px;
    line-height: 12px;
}

.center-align {
    text-align: center;
}

.banner {
    background: #0065AB;
    font-weight: bold;
    color: white;
}